*{
    box-sizing: border-box;
    border: 0px;
    margin: 0em;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
} 
:root{
    --backgroundcolor(black);
    --fontcolor(#00000012);
}
body{
    display: block;
    background-color: #4A4CB5;
    justify-content: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
section{
    background-color: #B5B34A;
    margin: 10vh 20vw;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    width: max-content;
    padding: 10px;
}
h2{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

form{
    display: grid;
    grid-template-areas: 
        'labels inputs'
        'labels inputs'
        'labels inputs'
        'labels inputs'
        'labels inputs'
        'labels inputs';
    gap: 5px;
    grid: -3 -1;
    background-color: inherit;
    padding: 5px;
    margin: 10px;
}
.col-1{grid-column: labels;}
.col-2{ grid-column: inputs;}

label{
    background-color: inherit;
    padding: 10px;
    margin: 10px;
    
}
input{
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}
button.submit{
    border-radius: 5px;
    padding: 10px;
    background-color: #4A4CB5;
    width: 100% ;
    grid-column: span 2;
    color: white ;
}
button.refresh{
border-radius: 5px;
background-color: transparent;
font-size: 50px;
line-height: 0px;
padding: 0px;
margin: 10px;

}
#cpt{
    margin-left: 0px;
}
fieldset.captchafield{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
}
fieldset.loanfield{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
}
canvas{
    background-color: white; 
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
    color: black;
}